* {
  box-sizing: border-box;
}

html.wf-loading * {
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}

/* contact */

.success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}

/* /contact */

input[type="text"],
.submit {
    padding: 1.5em;
    border-radius: .5em;
    margin: .5em;
    outline: none;
    width: 300px;
    text-align: center;
}

textarea {
  width: 615px;
}
/* 
form {
  width: 100%;
} */

/* success */

/* .success {
 
} */

.center {
  text-align: center;
  padding-top: 2em;
}

.img {
  display: block;
  width: 400px; 
  height: 275px;
  object-fit: cover;
  border: 2px solid lightgrey;
  border-radius: 20px;
}

a {
  text-decoration: none;
}

img:hover,
img:focus,
a:hover,
a:focus {
  outline: none;
}

/* Typography */
h1,
h2,
h3 {
  font-weight: 400;
  margin-top: 0;
}

h3 {
  color: #7510f7;
}

h3 {
  margin-top: 2em;
}

ul {
  padding: 0;
}

h1,
.subtitle {
  text-align: center;
}

button {
  padding: 0.5em 1.25em;
  border-radius: 1.25em;
  background: transparent;
  font-weight: 700;
  border-color: #7510f7;
  outline: none;
  margin-bottom: 1em;
}

section {
  width: 100%;
}

.contain {
  max-width: 100%;
  /* max-width: 800px; */
  margin: 0;
}

button {
  margin-bottom: 0em;
}
button:hover,
button:focus {
  background: #7510f7;
  color: white;
  cursor: pointer;
}

.blue {
  color: #7510f7;
}

.icon-btn {
  border: 2px solid #7510f7;
  padding: .75em 1.5em;
  border-radius: 2em;
  color: #7510f7;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size: 1.125rem;
}

.icon-btn-white {
  border: 2px solid #fff;
  padding: .75em 1.5em;
  border-radius: 2em;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
}

.icon-btn:hover,
.icon-btn:focus {
  background: #7510f7;
  color: white;
}

.icon-btn-white:hover,
.icon-btn-white:focus {
  background: white;
  color: #7510f7;
}

.title {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0;
  padding: 0 1em;
}

.contain-flex {
  display: flex;
  flex-direction: column;
}

.white {
  color: #fff;
}
/* Contact */

#content {
  order: 2;
  padding: 1.5em;
  background: #7510f7;
  color: #ffffff;
  height: 110vh;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  border-radius: 8em;
  margin: 0 auto;
  order: -1;
  margin-bottom: 1.5em;
  background: #7510f7;
}

.contact-avatar {
  width: 100px;
  height: 100%;
  background: #7510f7;
  border-radius: 3.5em;
}

.contact-img {
  display: flex;
  justify-content: center;
  margin-top: -90px;
}

.title-contact {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5em;
}
/* Navigation */

.nav {
  margin: 0 0 2em 0;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #7510f7;
}

.nav-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin: 1em; */
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  margin: 0.75em;
  color: #7510f7;
  letter-spacing: 2px;
}

.nav-contact > * {
  padding: 0 2em 0 0;
}

#about {
  font-size: 1.25rem;
  margin: 0 auto;
  text-align: center;
  max-width: 70%;
  padding-bottom: 5em;
  padding-top: 1em;
}

.content {
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom: 2px solid #7510f7;
  color: #7510f7;
}

.nav-link:focus:last-child,
.nav-link:hover:last-child {
  border-bottom: 2px solid #7510f7;
  color: white; 
}

/* skills */

#skills {
  margin-top: -120px;
  border-radius: 1.5em;
  position: relative;
  background-color: white;
  border: 1px solid #7510f7;
}

.grid {
  display: flex;
  flex-flow: column wrap;
  margin: 1em 2em 2em 2em;
  text-align: center;
}

.cell {
  padding: .5em;
}

.cell p {

  font-weight: 300;
}

.cell-skills {
  border-bottom: 1px solid #7510f7;
}

.cell-skills:last-child {
  border-bottom: none;
}

.skills-list-item {
  list-style: none;
  padding: 0.5em 0;
}

.spacing {
  padding: 1.25em;
}

/* test */

.overlay {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 40px;
  height: calc(100% - 1.5em);
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7510f7;
  border-radius: 20px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.125rem;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* /* -ms-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%); 
  text-align: center;
} 

.image-link {
  background: #7510f7;
  color: white;
  padding: 0.75em 1.25em;
  border: 1px solid white;
  border-radius: 2em;
}

.image-link:hover,
.image-link:focus {
  opacity: 1;
  color: #7510f7;
  background: white;
  padding: .75em 1.5em;
}

/* end test */

#projects {
  width: 100%;
  height: 300px;
  order: 1;
  border: 1px solid #7510f7;
  border-radius: 1.25em;
  object-fit: cover;
}

.computer-image {
  order: 0;
}

.social-icon-item {
  color: black;
  padding: 0 1em;
}

.social-icon-list,
.copyright,
.footer-logo {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: 0;
  object-fit: cover;
}

.social-icon-item:first-child {
  margin-left: 0;
}

#projects:hover,
#projects:focus {
  background: #7510f7;
}

#footer {
  background: #7510f7;
  padding-top: 1.5em;
  text-align: center;
  margin-top: 4em;
}

/* Animation */
.social-icon-item:hover,
.social-icon-item:focus {
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  color: white;
}

/* media queries */

/* min 600px change to two colums */

@media (min-width: 600px) {
  .grid {
    flex-flow: row wrap;
  }

  .cell {
    width: 50%;
  }

  .cell-skills:last-child {
    border-top: 1px solid #7510f7;
    width: 100%;
  }

  .cell-skills {
    border-bottom: none;
  }

  .cell-skills:first-child {
    border-right: 1px solid #7510f7;
  }

  .nav {
    flex-direction: row;
  }

  .nav-list {
    flex-direction: row;
  }
}

@media (min-width: 1000px){

  .grid {
    display: flex;
  }
.cell {
  max-width: 33%;
}
  .cell-skills {
    max-width: 33%;
    justify-content: space-evenly;
  }

  .cell-skills:nth-child(2) {
    border-right: 1px solid #7510f7;
  }

  .cell-skills:last-child {
    border-top: none;
  }

  .nav-list {
    max-width: 50%;
  }

  .nav,
  .nav-list {
    flex-direction: row;
  }
  .nav{
    justify-content: space-between;
  }

  #logo {
    margin-left: 1em;
  }
  
}