html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

img:hover,
img:focus,
a:hover,
a:focus {
    outline: none;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "lora", serif;
  font-weight: 400;
  margin-top: 0;
}

h3 {
    color: #7510f7;
}

header {
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}
h1,
.subtitle{
  text-align: center;
}

#hero {
    font-size: 1.5em;
    color: white;
}

button {
  padding: 0.5em 1.25em;
  border-radius: 20px;
  background: transparent;
  font-weight: 700;
  border-color: #7510f7;
  outline: none;
  margin-bottom: 1em;
}

section {
    width: 100%;
}

.container {
  max-width: 100%;
  /* max-width: 800px; */
  line-height: 1.5em;
  margin: 0;
}

button {
    margin-bottom: 0em;
}
button:hover,
button:focus {
  background: #7510f7;
  color: white;
  cursor: pointer;
}

.title {
  margin-bottom: 0.5em;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bolder;
    line-height: 1.5;
    font-size: 20px;
    margin-top: 0;
    padding: 0 1em;
  }

.container-flex {
  display: flex;
  flex-direction: column;
}

.content {
  order: 2;
  padding: 1.5em;
  background: #7510f7;
  max-width: 100%;
  color: #fff;
}

.avatar-image {
  border-radius: 50%;
  margin: 0 auto;
  order: -1;
  margin-bottom: 1.5em;
  background: #7510f7;
}

/* Navigation */

.logo {
  object-fit: cover;
  max-height: 75px;
  margin-bottom: 1em;
  color: #7510f7;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #7510f7;
}

#about {
    width: 750px;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 5em;
    padding-top: 1em;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom: 1px solid #7510f7;
}

.nav-link:focus:last-child,
.nav-link:hover:last-child {
  border-bottom: 2px solid #7510f7;
}

header {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #7510f7;
    margin-bottom: 2em;
  }

.nav-list-item {
  list-style: none;
  padding: .5em;
}

/* skills */

#skills {
    margin: 0 auto;
    margin-top: -100px;
    border-radius: 1.5em;
    position: relative;
    z-index: 1;
    background-color: white; 
    border: 1px solid #7510f7; 
    max-width: 95%;
}
.cell {
    margin: 1rem;
}

.cell-skills {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
  }

  .cell-skills {
      border-bottom: 1px solid #7510f7;
  }

  .cell-skills:last-child {
      border-bottom: none;
  }

  .spacing {
      padding: 1.5em 1em;
  }

  .skills-list {
       text-align: center;
       padding-top: 0;
  }

  .skills-list-item {
      padding: 1em 0;
      list-style: none;
  }
/* projects */

#projects {
  width: 100%;
  object-fit: cover;
  height: 250px;
  margin-bottom: 1em;
  order: 1;
  border: 1px solid #7510f7;
  border-radius: 20px;
}

.img-container {
    margin: 0 auto;
    max-width: 1230px;
    
}

.computer-image {
  order: 0;
}

.social-icon-list,
.copyright, 
.footer-logo {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0; 
}

.social-icon-list {
    padding: 0 em;
}
#projects:hover {
    background: #7510f7;
}

#footer {
  background: #7510f7;
  padding-top: 1.5em;
  text-align: center;
}

/* Animation */
.social-icon-item:hover {
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    color: white; 
  }

/* tablet */
@media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .cell {
      width: 50%;
    }

    #logo {
        margin-right: auto;
        max-height: 100px;
        max-width: 35%;
        object-fit: cover;
    }

    header {
        padding-right: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
  }

  /* desktop */
  @media screen and (min-width: 1000px) {
   
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #logo {
    margin-right: auto;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 0;
    padding-bottom: 0;
    }

    #skills {
        max-width: 89%;
    }

  }

  /* change width of cells and factor in padding */
  @media screen and (min-width: 600px) {
    .cell {
      width: calc(50% - 2rem);
    }

    .cell-skills {
        border-bottom: none;
    }

  }
  
  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(33.3333% - 2rem);
    }

    .cell-skills {
        border-bottom: none;
    }

    .cell-skills:nth-child(2) {
        border-right: 1px solid #7510f7;
         border-left: 1px solid #7510f7;
    }
}
  
